{% extends "base.html" %}

{% block title %}P&aacute;gina de inicio{% endblock %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {% endif %}
  {% endwith %}
  <div class="container">
    <div class="jumbotron">
      <h1 align="center">Gobierno y calidad de datos</h1>
      <p>Herramienta de Gobierno y calidad de datos para el an&aacute;lisis de datos
      de negocio del Ministerio de Agricultura.</p>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="/proyectos/" >Comenzar</a>
      </p>
    </div>
   </div>
{% endblock %}

