{% extends "base.html" %}

{% block title %}Proyectos de ana&aacute;lisis{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {% endif %}
  {% endwith %}
        <div class="jumbotron" style="overflow: auto; max-height: 80vh">
            <h2 align="center">Proyectos registrados</h2>
            <div class="table-responsive"> 
				{{ datos | safe }} 
            </div>
            <button class="btn btn-lg btn-default" type="submit">Ver</button>
            <input class="btn btn-primary btn-block active" type="button" value="Nuevo">
        </div>
 {% endblock %}