{% extends "base.html" %}

{% block title %}Datos de proyecto{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {% endif %}
  {% endwith %}
        <div class="jumbotron" style="overflow: auto; max-height: 80vh">
            <h2 align="center">Datos del proyecto</h2>
			<form class="form">
            	{% from "_formcoms.html" import render_field %}
            	{{ form.csrf_token }}
            	<div class="form-group">
            	    <label class="sr-only" for="ejemploProyecto">Nombre del proyecto</label>
    				<input type="text" class="form-control" id="proyecto_key" placeholder="Nombre del proyecto">
				</div>
				<div class="form-group">
					<label class="sr-only" for="">Organismo solicitante</label>
					<input type="text" class="form-control" id="organismo" placeholder="Organismo solicitante">
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="3" id="descripcion" placeholder="Descripcion"></textarea>
				</div>
            </form>
            <input class="btn btn-primary btn-block active" type="button" value="Guardar">
        </div>
 {% endblock %}

